<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Календар</h1>
        <div class="buttons">
            <button><a href="{{ url_for('show_day', day_name='Понеділок') }}">Понеділок</a></button>
            <button><a href="{{ url_for('show_day', day_name='Вівторок') }}">Вівторок</a></button>
            <button><a href="{{ url_for('show_day', day_name='Середа') }}">Середа</a></button>
            <button><a href="{{ url_for('show_day', day_name='Четвер') }}">Четвер</a></button>
            <button><a href="{{ url_for('show_day', day_name='П`ятниця') }}">П`ятниця</a></button>
            <button><a href="{{ url_for('show_day', day_name='Субота') }}">Субота</a></button>
            <button><a href="{{ url_for('show_day', day_name='Неділя') }}">Неділя</a></button>
        </div>
        <div class="schedule">
            <h2>Тижневий Розклад</h2>
            <table>
                <thead>
                    <tr>
                        <th>День</th>
                        <th>Час</th>
                        <th>Дія</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day, actions in schedule.items() %}
                    {% for action in actions %}
                    <tr>
                        <td>{{ day }}</td>
                        <td>{{ action.time }}</td>
                        <td>{{ action.action }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
